.container {
    border: 3px solid #000;
}

.item-1 {
    background-color: #fff4e1;
    padding: 5px;
}

.item-2 {
    background-color: #ffebb7;
    padding: 5px;
}

.item-3 {
    background-color: #e67a7a;
    padding: 5px;
}